@model TalentoIT.Entities.proposta_skill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>proposta_skill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_propostaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_propostaNavigation.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_skillNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_skillNavigation.area)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_proposta_skill">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
