@model IEnumerable<TalentoIT.Entities.proposta_skill>

@{
    ViewData["Title"] = "Index";
}

<h1>Skill Proposta</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Proposta
            </th>
            <th>
                Skill
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_propostaNavigation.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_skillNavigation.area)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_proposta_skill">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_proposta_skill">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id_proposta_skill">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
