@model IEnumerable<TalentoIT.Entities.perfil_detalhe>

@{
    ViewData["Title"] = "Perfil Detalhe";
}

<h1>Experiência Laboral</h1>

<p>
    <a asp-action="Create">Vincular Experiência Laboral</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Empresa
            </th>
            <th>
                Ano Inicio
            </th>
            <th>
                Ano Fim
            </th>
            <th>
                Perfil Talento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if(item.ano_fim != null){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo_exp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano_inico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano_fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_perfil_talentoNavigation.nome_talento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_perfil_detalhe">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_perfil_detalhe">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id_perfil_detalhe">Apagar</a>
            </td>
        </tr>
    }else
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo_exp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano_inico)
            </td>
            <td>
                Ainda empregado
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_perfil_talentoNavigation.nome_talento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_perfil_detalhe">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_perfil_detalhe">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id_perfil_detalhe">Apagar</a>
            </td>
        </tr> 
    }
}
    </tbody>
</table>
