@model TalentoIT.Entities.user_skill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>user_skill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_skillNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_skillNavigation.area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_userNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_userNavigation.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_user_skill">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
