@model IEnumerable<TalentoIT.Entities.user>

@{
    ViewData["Title"] = "Index";
}

<h1>Dados Utilizador</h1>

<p>
    <a asp-action="Create">Criar Novo Utilizador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Nome Utilizador
            </th>
            <th>
                Morada
            </th>
            <th>
                NIF
            </th>
            <th>
                Média Horas de Trabalho
            </th>
            <th>
                Acções
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.media_horas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_user">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_user">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id_user">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
