@model TalentoIT.Entities.perfil_talento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Perfil Talento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Titulo:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_talento)
        </dd>
        <dt class = "col-sm-2">
            Preço/Hora:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco_hora)
        </dd>
        <dt class = "col-sm-2">
            Email:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            Flag:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flag)
        </dd>
        <dt class = "col-sm-2">
            Utilizador:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_userNavigation.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_perfil_talento">Editar</a> |
    <a asp-action="Index">Voltar Atrás</a>
</div>
