@model IEnumerable<TalentoIT.Entities.perfil_talento>

@{
    ViewData["Title"] = "Perfil Talento";
}

<h1>Meus Talentos</h1>

<p>
    <a asp-action="Create">Criar Novo Perfil</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Título
        </th>
        <th>
            País
        </th>
        <th>
            Email
        </th>
        <th>
            Preço/Hora
        </th>
        <th>
            Flag
        </th>
        <th>
            Utilizador
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_talento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preco_hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_userNavigation.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_perfil_talento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_perfil_talento">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id_perfil_talento">Apagar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
