@model IEnumerable<TalentoIT.Entities.perfil_talento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_talento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco_hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_userNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_talento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preco_hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_userNavigation.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_perfil_talento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_perfil_talento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_perfil_talento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
