@model TalentoIT.Entities.propostum

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Tem a certeza que pretende apagar esta proposta?</h3>
<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_proposta)
        </dd>
        <dt class = "col-sm-2">
            Categoria:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_talento)
        </dd>
        <dt class = "col-sm-2">
            Experiência Minima:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expr_minima)
        </dd>
        <dt class = "col-sm-2">
            Total Horas Laborais:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_horas)
        </dd>
        <dt class = "col-sm-2">
            Descrição:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_proposta" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar Atrás</a>
    </form>
</div>
