@model TalentoIT.Entities.propostum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>propostum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_proposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_proposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_talento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_talento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expr_minima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expr_minima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_horas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_proposta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
