@model IEnumerable<TalentoIT.Entities.propostum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_proposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_talento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expr_minima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_horas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_proposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_talento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expr_minima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_horas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_proposta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_proposta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_proposta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
