@model IEnumerable<TalentoIT.Entities.propostum>

@{
    ViewData["Title"] = "Index";
}

<h1>Propostas de Trabalho</h1>


<table class="table">
    <thead>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Categoria
        </th>
        <th>
            Experiência Minima
        </th>
        <th>
            Total Horas Laborais
        </th>
        <th>
            Descrição
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_proposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_talento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expr_minima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_horas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_proposta">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_proposta">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id_proposta">Apagar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<br>
<br>
<br>

<p>
    Criar Novo(a):
</p>
<br>
<input type="button" class="btn btn-primary" value="Proposta" onclick="location.href='@Url.Action("Create", "Proposta")'" />
<input type="button" class="btn btn-primary" value="Skills Proposta" onclick="location.href='@Url.Action("Index", "Proposta_skill")'" />
