@model IEnumerable<TalentoIT.Entities.talento_skill>

@{
    ViewData["Title"] = "Index";
}

<h1>Skills Dos Talentos</h1>

<p>
    <a asp-action="Create">Vincular nova skill</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Skill
        </th>
        <th>
            Perfil Talento
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_skillNavigation.nome_skill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_perfil_talentoNavigation.nome_talento)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.id_talento_skill">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.id_talento_skill">Detalhes</a> |
            <a asp-action="Delete" asp-route-id="@item.id_talento_skill">Apagar</a>
        </td>
    </tr>
}
    </tbody>
</table>
